.grid {
  display: grid;
  grid-template-columns: repeat(5, 52px);
  grid-template-rows: repeat(6, 52px);
  grid-gap: 5px;
  margin: 20px;
}

.grid .char {
  border: 2px solid #d3d6da;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.grid .char.char__in-word {
  background-color: rgb(201, 180, 88);
  border-color: rgb(201, 180, 88);
}

.grid .char.char__not-in-word {
  background-color: rgb(120, 124, 126);
  border-color: rgb(120, 124, 126);
}

.grid .char.char__hit {
  background-color: rgb(106, 170, 100);
  border-color: rgb(106, 170, 100);
}

.char span {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.char.char__inputting span {
  color: #333333;
}
